<nav *ngIf="isLoggedIn()" class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, #1e3c72, #2a5298);">
    <a class="navbar-brand" routerLink="/jobs">JobPortal</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/jobs" routerLinkActive="active">
                    Jobs
                </a>
            </li>
        </ul>
        <button class="btn btn-outline-danger" (click)="logout()">
            Logout
        </button>
    </div>
</nav>
<router-outlet></router-outlet>